.duvidas {
    color: white;
    display: grid;

    padding-left: 164px;
    padding-top: 10px;
    gap: 5px;
}

.duvidas h2 {
    padding-top: 35px;
    padding-bottom: 12px;
}

.duvidasRecentes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 981px;
    max-width: 90%;
    height: auto;
    min-height: 92px;
    background-color: #414040;
    padding: 10px;

    border-radius: 8px;
    gap: 10px;
}

.duvidasRecentes h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.duvidasRecentes:hover {
    background-color: #555;
}

.duvidasRecentes img {
    width: 78px;
    height: auto;

    margin-left: auto; 
}


@media (max-width: 700px) {
    .duvidas {
        padding-left: 25px;
        padding-right: 10px;
    }

    .duvidas h2 {
        text-align: center;
        font-size: 18px;
    }

    .duvidasRecentes {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .duvidasRecentes h4 {
        font-size: 16px;
        padding-left: 0;
    }

    .duvidasRecentes img {
        width: 60px;
        margin-left: auto; 
    }
}
