#form-2{
    margin-top: 50px;

    & p{
        color: white;
        text-align: center;

        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 700px){

    #form-2{
        width: 300px;
    }

    #form-2 p{
        font-size: 13px;
    }
}